<h3>Idiomas</h3>
<div class="container">
  <div class="center">
    <circle-progress [percent]="99" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
      [title]="'Español 99'" [subtitle]="'C2'"></circle-progress>

    <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#3944BC'" [innerStrokeColor]="'#63C5DA'" [animation]="true" [animationDuration]="300"
      [title]="'ingles 85'" [subtitle]="'B2'"></circle-progress>
    <circle-progress [percent]="25" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#F9A602'" [innerStrokeColor]="'#FCF4A3'" [animation]="true" [animationDuration]="300"
      [title]="'Portugues 25'" [subtitle]="'A1'"></circle-progress>
  </div>
</div>
