<h3>Experiencia</h3>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="dist/js/timeline.min.js"></script>
<link rel="stylesheet" href="dist/css/timeline.min.css" />-->

<div class="timeline-container timeline-theme-1 hide-on-med-and-down">
  <div class="timeline js-timeline">
    <div data-time="2020">
      <h5>Migración de sistema Bancario</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/logosantander.png"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Analista de soluciones (everis)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Desarrollador de backend, procedure, Servicios Rest, tester Backend, analista</a></li>
          <li><a class="black-text text-lighten-3">Framworks: Spring, Swagger, Junit 4</a></li>
          <li><a class="black-text text-lighten-3">Metdologia: Agile, Scrum</a></li>
          <li><a class="black-text text-lighten-3">Aseguramiento calidad: Sonarqube, Sonarlint</a></li>
          <li><a class="black-text text-lighten-3">CI-CD: Jenkins, pipeline</a></li>
          <li><a class="black-text text-lighten-3">Base Datos: SQL Server</a></li>
        </div>
      </div>


    </div>
    <div data-time="2019">
      <h5>Evolutivo y soporte de KYC-CN</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/LogoSabadell.jpg"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Analista de soluciones (everis)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Desarrollador de backend, Frontend, Shell, reportes, PLSQL, Shell, analista consumo de servicios, tester </a></li>
          <li><a class="black-text text-lighten-3">Framworks: Genexus, Descartes, Bantotal, Oracle, Junit </a></li>
          <li><a class="black-text text-lighten-3">Metdologia: PMI, Scrum</a></li>
          <li><a class="black-text text-lighten-3">Aseguramiento calidad: Test de acetación</a></li>
          <li><a class="black-text text-lighten-3">Servidores: Linux, windows</a></li>
          <li><a class="black-text text-lighten-3">Base Datos: Oracle, SQL Server</a></li>
        </div>
      </div>

    </div>
    <div data-time="2018">
      <h5>Transferencia y desarrollo de KYC-CN</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/LogoSabadell.jpg"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Asistente de soluciones (everis)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Desarrollador de backend, Frontend, Shell, reportes, PLSQL, Shell, analista consumo de servicios, tester </a></li>
          <li><a class="black-text text-lighten-3">Framworks: Genexus, Descartes, Bantotal, Oracle, Junit </a></li>
          <li><a class="black-text text-lighten-3">Metdologia: PMI, Scrum</a></li>
          <li><a class="black-text text-lighten-3">Aseguramiento calidad: Test de acetación</a></li>
          <li><a class="black-text text-lighten-3">Servidores: Linux, windows</a></li>
        </div>
      </div>
    </div>
    <div data-time="2017">
      <h5>Migración a Java APX</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/LogoBBVA.png"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Desarrollador Java (Capgemini)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Desarrollador de backend, Servcios SOAP, tester </a></li>
          <li><a class="black-text text-lighten-3">Framworks: Jva APX, Oracle, Junit </a></li>
          <li><a class="black-text text-lighten-3">Metdologia:  Scrum</a></li>
          <li><a class="black-text text-lighten-3">Base Datos: Oracle, MongoDB</a></li>
          <li><a class="black-text text-lighten-3">Servidores: Linux </a></li>
        </div>
      </div>
    </div>
    <div data-time="2016">
      <h5>Sistema de tratameinto de gases de combustión para motores diesel</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/LogoIINGEN.png"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Ingeniero (Freelance)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Ingeniero de campo, especialista de monitoreo de gases de combustion </a></li>
          <li><a class="black-text text-lighten-3">Herramientas: Maritime Tester, DaqFactory,  </a></li>
          <li><a class="black-text text-lighten-3">Metdologia:  PMI</a></li>
          <li><a class="black-text text-lighten-3">Analista: Conpras de insumos de laboratorio y equipo</a></li>
          <li><a class="black-text text-lighten-3">Mantenimeinto: Equipos de absorción, fotobioreactores, equipo de laboratorio, medidores de flujo, etc </a></li>
        </div>
      </div>
    </div>
    <div data-time="2015">
      <h5>Modelamiento de Absorción del CO2</h5>

      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/LogoIINGEN.png"  width="200px">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title black-text text-darken-4">
            Ingeniero (Freelance)
            <i class="material-icons">close</i>

          </span>
          <li><a class="black-text text-lighten-3">Rol: Ingeniero de campo, instrumentista especialista de monitoreo de gases de combustion </a></li>
          <li><a class="black-text text-lighten-3">Herramientas: Maritime Tester, DaqFactory,  </a></li>
          <li><a class="black-text text-lighten-3">Metdologia:  PMI</a></li>
          <li><a class="black-text text-lighten-3">Analista: Conpras de insumos de laboratorio y equipo</a></li>
          <li><a class="black-text text-lighten-3">Mantenimeinto: Equipos de laboratorio termometros, medidores de flujo, etc </a></li>
        </div>
      </div>
    </div>
  </div>
</div>
