

<div class="grey darken-4">
  <!--<img src=''/>-->
  <div class="row container grey darken-4">
    <div class="col s12 m4 l4">
      <img class="circular--square" src = "../../../assets/imagenes/imagen-perfil.jpg" width="200px"/>
    </div>
    <div class="col s12 m4 l4">
      <h2 class="grey-text text-lighten-3" >Alex Gonzalez</h2>
      <li><a class="grey-text text-lighten-3">Entusiasta de las ciencias e ingenieras aplicadas</a></li>
      <li><a class="grey-text text-lighten-3">De aprender cosas nuevas</a></li>
      <li><a class="grey-text text-lighten-3">Buscando ante todo cumplir con los objetivos</a></li>
    </div>
    <div class="col s12 m4 l4">
      <h5 class="grey-text text-lighten-3" >Roles desempeñados</h5 >
        <li><a class="grey-text text-lighten-3">Ingeniero de software</a></li>
        <li><a class="grey-text text-lighten-3">Desarrollador backend Java</a></li>
        <li><a class="grey-text text-lighten-3">Desarrollador Genexus</a></li>
        <li><a class="grey-text text-lighten-3">Analista programador Sector Financiero</a></li>
        <li><a class="grey-text text-lighten-3">Tester</a></li>
        <li><a class="grey-text text-lighten-3">Desarrollador C++ Sistemas embebidos</a></li>
        <li><a class="grey-text text-lighten-3">PM/Scrum</a></li>
        <li><a class="grey-text text-lighten-3">Instrumentista</a></li>
    </div>

  </div>
</div>

