<h3>Formación academica</h3>
<div class="row white">
  <div class="carousel">
    <a class="carousel-item">
      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/UNIR.jpg">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Maestria Dirección y gestión de proyectos tecnologicos
            <i class="material-icons">close</i>

          </span>
          <p>
            Formación que me permite dirigir e implementar proyectos de I+D o cualquier proyecto de tecnología (IT, telecomunicaciones, ...).
          </p>

        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="col  card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/UNAMLOGO.jpg">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Ingeniero Quimico
            <i class="material-icons">close</i>

          </span>
          <p>
            Promedio de 8.5
            Logros: Exponer en e AMIDIQ modelo de absorcion de CO2 para el tratamiento de gases de combustion
            Beca Semar-Conacyt
            Participación en manejo de polvos en la industria aliemnticia(Chocolates) y farmaceutica(Laboratorio Farmaceutica I)
          </p>

        </div>
      </div>
    </a>
    <a class="carousel-item">
      <div class="col card proximos-estrenos">
        <div class="card-image waver-efect waves-blog waves light">
          <img class="activator" src="../../../assets/imagenes/UVM.png">
        </div>
        <div class="card-content">


        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Ingeniero Mecatronico
            <i class="material-icons">close</i>

          </span>
          <p>
            Promedio: 9.0
            Logros: Participación en torneos de robotica, desafios de automatización
            Beca academica
          </p>

        </div>
      </div>
    </a>

  </div>
</div>
